# auxiliary files
.vscode/

# temporary files
tmp*
.DS_Store

# Compiled class file
*.class

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/

# Preparatory binary design files
*.key
